name: AWS DEPLOY TO PRODUCTION
# Deploy on push to main branch

on:
  push:
    branches:
      - main

jobs:
  aws-deploy:
    runs-on: ubuntu-latest
    env:
      DB_HOST: ${{ secrets.AWS_DB_HOST }}
      DB_PW: ${{ secrets.AWS_DB_PW}}
      DB_USER: ${{ secrets.AWS_DB_USER }}
      DB_NAME: ${{ secrets.AWS_DB_NAME }}
      CLIENT_ID: ${{secrets.CLIENT_ID}}
      CLIENT_SECRET: ${{secrets.CLIENT_SECRET}}
      PORT: ${{secrets.PORT}}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: main
      - uses: actions/setup-node@v5
        with:
          node-version: 24
      - run: npm install

      - run: |
          touch .env
          echo DB_HOST = "$DB_HOST" >> .env
          echo DB_PW = "$DB_PW" >> .env
          echo DB_USER = "$DB_USER" >> .env
          echo DB_NAME = "$DB_NAME" >> .env
          echo CLIENT_ID = "$CLIENT_ID" >> .env
          echo CLIENT_SECRET = "$CLIENT_SECRET" >> .env
          echo PORT = "$PORT" >> .env

      - run: npm run bundle

      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@v2.1.1
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
          ARGS: "-rltgoDzvO --delete"
          SOURCE: "deploy/"
          REMOTE_HOST: "project3.eaglesoftwareteam.com"
          REMOTE_USER: ubuntu
          TARGET: "nodeapps/sev2026/t8"
      - name: Execute SSH commmands on remote server
        uses: JimCronqvist/action-ssh@master
        with:
          hosts: "ubuntu@project3.eaglesoftwareteam.com"
          privateKey: ${{ secrets.SERVER_SSH_KEY }}
          debug: false
          command: |
            cd nodeapps/sev2026/t8
            npm install
            sudo systemctl stop sev2026-backend || true
            sudo cp tutorial-backend.service /lib/systemd/system/sev2026-backend.service || true
            sudo systemctl daemon-reload
            sudo systemctl start sev2026-backend || true
